<% let pageId='news' ; %>

  <%- include('../common/_header', {pageId:pageId }) %>

    <%# console.log(jsonData) %>
      <div id="js-fv-trigger" class="p-lower-mv">
        <svg class="c-svg p-lower-mv__svg p-lower-mv__svg--sp u-hidden-md-up">
          <use xlink:href="/img/svg/sprite.min.svg#mv-lower-decoration_sp" />
        </svg>
        <svg class="c-svg p-lower-mv__svg p-lower-mv__svg--pc u-hidden-md-down">
          <use xlink:href="/img/svg/sprite.min.svg#mv-lower-decoration_pc" />
        </svg>
        <picture class="p-lower-mv__picture">
          <source class="p-lower-mv__img" srcset="/img/webp/mv-news_sp.webp" media="(max-width: 767px)" type="image/webp" />
          <source class="p-lower-mv__img" srcset="/img/webp/mv-news_pc.webp" media="(min-width: 768px)" type="image/webp" />
          <source class="p-lower-mv__img" srcset="/img/common/mv-news_sp.jpeg" media="(max-width: 767px)" />
          <img src="/img/common/mv-news_pc.jpeg" class="p-lower-mv__img" decoding="async"
            alt="お知らせメインビジュアル">
        </picture>
        <div class="p-lower-mv__title">
          <h2 class="p-lower-mv__title-en u-font-italic is-mask-right">
            NEWS
          </h2>
          <br>
          <p class="p-lower-mv__title-ja is-mask-right">
            お知らせ
          </p>
        </div>
      </div>

      <!--パンくずリスト-->
      <div class="c-breadcrumb u-mt-12">
        <div class="l-inner">
          <ul class="c-breadcrumb__list" itemscope itemtype="https://schema.org/BreadcrumbList">
            <li class="c-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
              <a class="c-breadcrumb__link" itemprop="item" href="/"><span itemprop="name">ホーム</span></a>
              <meta itemprop="position" content="1" />
            </li>
            <li class="c-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
              <a class="c-breadcrumb__link" itemprop="item" href="/news/"><span itemprop="name">ニュース</span></a>
              <meta itemprop="position" content="2" />
            </li>
            <li class="c-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
              <a class="c-breadcrumb__link" itemprop="item" href="/news/single"><span itemprop="name">シングルページ</span></a>
              <meta itemprop="position" content="3" />
            </li>
          </ul>
        </div>
      </div>
      <!--/パンくずリスト-->

      <section class="p-single l-archive">
        <div class="l-archive__inner l-inner">
          <!--メインエリア-->
          <main class="p-single__main l-archive__main">
            <div class="p-single__meta">
              <span class="p-single__cat">カテゴリ</span>
              <time class="p-single__time" datetime="2021.01.01">2021.01.01</time>
            </div>
            <h1 class="p-single__title">
              常にハイパフォーマンスを目指すグローバルビジネスの現場を肌で感じることで、自走・自立できる思考力・適応力を醸成する起爆剤研修。
            </h1>
            <div class="p-single__thumbnail">
              <img src="/img/common/icatch-news.jpeg" alt="記事の画像" class="p-single__img">
            </div>
            <article class="p-single__content">
              <h2>H2見出しH2見出しH2見出し</h2>
              <p>
                ビジネスパーソンとの交流の中で、より具体的に現地で働く人々の仕事に対する熱意や誇り、それぞれが持つリーダーシップなどを学ぶことができ非常に良い経験となりました。今後の目標はプロジェクトマネジメントに特化したマネージャーになることです。ビジネスパーソンとの交流の中で、より具体的に現地で働く人々の仕事に対する熱意や誇り、それぞれが持つリーダーシップなどを学ぶことができ非常に良い経験となりました。今後の目標はプロジェクトマネジメントに特化したマネージャーになることです。
              </p>
              <h3>H3見出しH3見出しH3見出し</h3>
              <p>
                ビジネスパーソンとの交流の中で、より具体的に現地で働く人々の仕事に対する熱意や誇り、それぞれが持つリーダーシップなどを学ぶことができ非常に良い経験となりました。今後の目標はプロジェクトマネジメントに特化したマネージャーになることです。ビジネスパーソンとの交流の中で、より具体的に現地で働く人々の仕事に対する熱意や誇り、それぞれが持つリーダーシップなどを学ぶことができ非常に良い経験となりました。今後の目標はプロジェクトマネジメントに特化したマネージャーになることです。
              </p>
              <h4>H4見出しH4見出しH4見出し</h4>
              <p>
                ビジネスパーソンとの交流の中で、より具体的に現地で働く人々の仕事に対する熱意や誇り、それぞれが持つリーダーシップなどを学ぶことができ非常に良い経験となりました。今後の目標はプロジェクトマネジメントに特化したマネージャーになることです。ビジネスパーソンとの交流の中で、より具体的に現地で働く人々の仕事に対する熱意や誇り、それぞれが持つリーダーシップなどを学ぶことができ非常に良い経験となりました。今後の目標はプロジェクトマネジメントに特化したマネージャーになることです。
              </p>
              <ul>
                <li>・リスト</li>
                <li>・リスト</li>
                <li>・リスト</li>
              </ul>
              <blockquote class="wp-block-quote">
                <p>引用した文章が入ります。ビジネスパーソンとの交流の中で、より具体的に現地で働く人々の仕事に対する熱意や誇り、それぞれが持つリーダーシップなどを学ぶことができ非常に良い経験となりました。今後の目標はプロジェクトマネジメントに特化したマネージャーになることです。ビジネスパーソンとの交流の中で、より具体的に現地で働く人々の仕事に対する熱意や誇り、それぞれが持つリーダーシップなどを学ぶことができ非常に良い経験となりました。</p>                
                <svg class="c-svg wp-block-quote__svg" width="8" height="14">
                  <use xlink:href="/img/svg/sprite.min.svg#wp-blockquote" />                  
                </svg>                
              </blockquote>
              <div class="p-single__post-links">
                <div class="p-single__post-prev"><a href="">< 前の記事へ</a></div>
                <div class="p-single__post-next"><a href="">次の記事へ ></a></div>
              </div>
            </article>
          </main>
          <!--/メインエリア-->

          <!--サイドバー-->
          <aside class="p-sidebar l-archive__sidebar">
            <!--新着記事-->
            <article class="p-sidebar-new">
              <h2 class="p-sidebar__title">新着記事</h2>
              <a href="" class="p-sidebar-new__item p-sidebar-item">
                <div class="p-sidebar-item__thumbnail">
                  <img data-src="/img/common/icatch-news.jpeg" alt="記事の画像" class="p-sidebar-item__img lazyload">
                </div>
                <div class="p-sidebar-item__body">
                  <div class="p-sidebar-item__meta">
                    <div class="p-sidebar-item__cats">
                      <span class="p-sidebar-item__cat">カテゴリ</span>
                      <span class="p-sidebar-item__cat">カテゴリ</span>
                    </div>
                    <time class="p-sidebar-item__time" datetime="2021.01.01">2021.01.01</time>
                  </div>
                  <h2 class="p-sidebar-item__title">
                    常にハイパフォーマンスを目指すグローバルビジネスの現場を肌で感じることで、自走・自常にハイパフォーマンスを目指すグローバルビジネスの現場を肌で感じることで、自走・自…常にハイパフォーマンスを目指すグローバルビジネスの現場を肌で感じることで、自走・自
                  </h2>
                </div>
              </a>
              <a href="" class="p-sidebar-new__item p-sidebar-item">
                <div class="p-sidebar-item__thumbnail">
                  <img data-src="/img/common/icatch-news.jpeg" alt="記事の画像" class="p-sidebar-item__img lazyload">
                </div>
                <div class="p-sidebar-item__body">
                  <div class="p-sidebar-item__meta">
                    <div class="p-sidebar-item__cats">
                      <span class="p-sidebar-item__cat">カテゴリ</span>
                    </div>
                    <time class="p-sidebar-item__time" datetime="2021.01.01">2021.01.01</time>
                  </div>
                  <h2 class="p-sidebar-item__title">
                    常にハイパフォーマンスを目指すグローバルビジネスの現場を肌で感じることで、自走・自常にハイパフォーマンスを目指すグローバルビジネスの現場を肌で感じることで、自走・自…常にハイパフォーマンスを目指すグローバルビジネスの現場を肌で感じることで、自走・自
                  </h2>
                </div>
              </a>
              <a href="" class="p-sidebar-new__item p-sidebar-item">
                <div class="p-sidebar-item__thumbnail">
                  <img data-src="/img/common/icatch-news.jpeg" alt="記事の画像" class="p-sidebar-item__img lazyload">
                </div>
                <div class="p-sidebar-item__body">
                  <div class="p-sidebar-item__meta">
                    <div class="p-sidebar-item__cats">
                      <span class="p-sidebar-item__cat">カテゴリ</span>
                    </div>
                    <time class="p-sidebar-item__time" datetime="2021.01.01">2021.01.01</time>
                  </div>
                  <h2 class="p-sidebar-item__title">
                    常にハイパフォーマンスを目指すグローバルビジネスの現場を肌で感じることで、自走・自常にハイパフォーマンスを目指すグローバルビジネスの現場を肌で感じることで、自走・自…常にハイパフォーマンスを目指すグローバルビジネスの現場を肌で感じることで、自走・自
                  </h2>
                </div>
              </a>
              <a href="" class="p-sidebar-new__item p-sidebar-item">
                <div class="p-sidebar-item__thumbnail">
                  <img data-src="/img/common/icatch-news.jpeg" alt="記事の画像" class="p-sidebar-item__img lazyload">
                </div>
                <div class="p-sidebar-item__body">
                  <div class="p-sidebar-item__meta">
                    <div class="p-sidebar-item__cats">
                      <span class="p-sidebar-item__cat">カテゴリ</span>
                    </div>
                    <time class="p-sidebar-item__time" datetime="2021.01.01">2021.01.01</time>
                  </div>
                  <h2 class="p-sidebar-item__title">
                    常にハイパフォーマンスを目指すグローバルビジネスの現場を肌で感じることで、自走・自常にハイパフォーマンスを目指すグローバルビジネスの現場を肌で感じることで、自走・自…常にハイパフォーマンスを目指すグローバルビジネスの現場を肌で感じることで、自走・自
                  </h2>
                </div>
              </a>
              <a href="" class="p-sidebar-new__item p-sidebar-item">
                <div class="p-sidebar-item__thumbnail">
                  <img data-src="/img/common/icatch-news.jpeg" alt="記事の画像" class="p-sidebar-item__img lazyload">
                </div>
                <div class="p-sidebar-item__body">
                  <div class="p-sidebar-item__meta">
                    <div class="p-sidebar-item__cats">
                      <span class="p-sidebar-item__cat">カテゴリ</span>
                    </div>
                    <time class="p-sidebar-item__time" datetime="2021.01.01">2021.01.01</time>
                  </div>
                  <h2 class="p-sidebar-item__title">
                    常にハイパフォーマンスを目指すグローバルビジネスの現場を肌で感じることで、自走・自常にハイパフォーマンスを目指すグローバルビジネスの現場を肌で感じることで、自走・自…常にハイパフォーマンスを目指すグローバルビジネスの現場を肌で感じることで、自走・自
                  </h2>
                </div>
              </a>
          
            </article>
            <!--新着記事-->
          
            <!--カテゴリー-->
            <article class="p-sidebar-cats">
              <h2 class="p-sidebar__title">カテゴリ</h2>
              <ul class="p-sidebar-cats__list">
                <li class="p-sidebar-cats__item">
                  <a href="" class="p-sidebar-cats__link">
                    <svg class="c-svg p-sidebar-cats__svg" width="10" height="16">
                      <use xlink:href="/img/svg/sprite.min.svg#icon-arrow03" />
                    </svg>
                    カテゴリ
                  </a>
                </li>
                <li class="p-sidebar-cats__item">
                  <a href="" class="p-sidebar-cats__link">
                    <svg class="c-svg p-sidebar-cats__svg" width="10" height="16">
                      <use xlink:href="/img/svg/sprite.min.svg#icon-arrow03" />
                    </svg>
                    営業時間
                  </a>
                </li>
                <li class="p-sidebar-cats__item">
                  <a href="" class="p-sidebar-cats__link">
                    <svg class="c-svg p-sidebar-cats__svg" width="10" height="16">
                      <use xlink:href="/img/svg/sprite.min.svg#icon-arrow03" />
                    </svg>
                    その他
                  </a>
                </li>
              </ul>
            </article>
            <!--カテゴリー-->
          </aside>
          <!--/サイドバー-->
        </div>
      </section>


      <%- include('../common/_footer', {pageId:pageId }) %>