@use "foundation/global";

// Component ボタン
//--------------------------------------------------------------------------

// ドロワーボタン
//-----------------------
.c-drawer-button {
  position: relative;
  width: 27px;
  height: 22px;

  //ハンバーガーライン
  &__line {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: global.$color-main;
    transition: all 0.3s ease-in-out;
    &:nth-last-of-type(1) {
      top: 0;
      left: 0;
    }
    &:nth-last-of-type(2) {
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
    &:nth-last-of-type(3) {
      bottom: 0;
      left: 0;
    }
  }
}


//ドロワーボタンアクティブ時
.c-drawer-button.is-active {
  .c-drawer-button__line {
    &:nth-last-of-type(1) {
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
    }
    &:nth-last-of-type(2) {
      width: 0;
    }
    &:nth-last-of-type(3) {
      top: 50%;
      transform: translateY(-50%) rotate(-45deg);
    }
  }
}


// View more->○ ボタン
//-----------------------
.c-button-more {
  $this: &;
  position: relative;
  display: inline-block;
  text-align: right;

  @include global.mq(md) {//min-width 768px〜
    &:hover {
      #{$this}__arrow {
        right: -15.2%;
        width: 142px;
      }
    }
  }

  //テキスト
  &__text {
    color: global.$color-main;
    @include global.fz(20, 32);
    @include global.lh(1.2);
    font-weight: 500;
    font-family: global.$font-family-en;

    @include global.mq(md) {//min-width 768px〜
      display: inline-block;
      transform: translateY(-3px);
      padding-right: 142px;
    }
  }

  //矢印
  &__arrow {
    position: relative;
    display: inline-block;
    width: 64.5px;
    height: 2px;
    margin-right: 21px;
    margin-left: 8px;
    background-color: global.$color-main;
    vertical-align: middle;

    @include global.mq(md) {//min-width 768px〜
      position: absolute;
      top: 50%;
      right: 1%;
      transform: translateY(-50%);
      width: 95px;
      transition: width 0.3s, right 0.3s;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -2.2px;
      right: 4px;
      transform: rotate(-55deg);
      height: 14px;
      width: 2px;
      background-color: global.$color-main;

      @include global.mq(md) {//min-width 768px〜
        bottom: -3.2px;
        right: 6px;
        height: 18px;
      }
    }

    &--color-white {
      background-color: global.$color-text-white;
      &::after {
        background-color: global.$color-text-white;
      }
    }

    &--color-black {
      background-color: global.$color-text-black;
      &::after {
        background-color: global.$color-text-black;
      }
    }
  }

  //丸
  &__circle {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: -1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: global.$color-accent-yellow;

    @include global.mq(md) {//min-width 768px〜
      width: 51px;
      height: 51px;
    }

    &--border {
      z-index: 1;
      border: 2px solid global.$color-accent-yellow;
      background-color: transparent;
    }
  }
}


// 四角のボタン
//-----------------------
.c-button-square {
  $this: &;
  position: relative;
  display: inline-block;
  max-width: 295px;
  width: 100%;
  padding: 28px 10px;
  border: 1px solid global.$color-main;
  color: global.$color-main;
  @include global.fz(14, 16);
  @include global.lh(1.7, 1.5);
  text-align: center;
  transition: color 0.3s ease-out;

  @include global.mq(md) {//min-width 768px〜
    max-width: 304px;
    padding: 27px 15px;
  }

  @include global.mq(lg) {//min-width 992px〜
    padding: 27px 35px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 0;
    height: 100%;
    background-color: global.$color-main;
    transition: width 0.3s ease-out;
  }

  &:hover {
    color: global.$color-text-white;
    #{$this}__svg {
      transform: translateY(-50%) translateX(5px);
    }
    &::before {
      width: 100%;
    }
  }

  &__svg {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    transition: transform 0.3s ease-out;

    @include global.mq(md) {//min-width 768px〜
      width: 20px;
      height: 13px;
    }
  }
}

//四角の送信ボタン
.c-button-square--submit {
  transition: background-color 0.3s ease-out;
  background-color: global.$color-text-white;

  &:hover {
    color: global.$color-text-white;
    background-color: global.$color-main;
  } 
}