@use "foundation/global";

// Component フッターリンク
// 資料ダウンロード お問い合わせ
//--------------------------------------------------------------------------

.c-footer-links {
  $this: &;
  width: 100%;
  @include global.mq(md) {
    //min-width 768px〜
    display: flex;
  }

  &__item {
    position: relative;
    width: 100%;
    padding: 45px 40px 26px;
    background: no-repeat center center / cover;
    @include global.mq(md) {
      //min-width 768px〜
      width: 50%;
      padding: 56px 40px 50px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: global.$color-main;
      opacity: 0.8;
    }

    &:nth-of-type(1) {
      background-image: url(../img/webp/img-download.webp);
      @include global.browser("ie") {
        //IE11の場合
        background-image: url(../img/common/img-download.jpeg);
      }
      @include global.browser("safari") {
        //safariの場合
        background-image: url(../img/common/img-download.jpeg);
      }
      &:before {
        background-color: global.$color-main-bright;
      }
    }

    &:nth-of-type(2) {
      background-image: url(../img/webp/img-contact.webp);
      @include global.browser("ie") {
        //IE11の場合
        background-image: url(../img/common/img-contact.jpeg);
      }
      @include global.browser("safari") {
        //safariの場合
        background-image: url(../img/common/img-contact.jpeg);
      }
      &:before {
        background-color: global.$color-main;
      }
    }
  }
  &__item-inner {
    position: relative;
    width: 100%;
    z-index: 1;
    text-align: center;
  }

  &__title-head {
    color: global.$color-text-white;
    @include global.fz(40);
    @include global.lh(1.2);
    font-family: global.$font-family-en;
    font-weight: 500;
    @include global.mq(md) {
      //min-width 768px〜
      font-size: 4.6875vw;
    }
    @include global.mq(lg) {
      //min-width 992px〜
      font-size: 60px;
    }
  }

  &__title-foot {
    color: global.$color-text-white;
    @include global.fz(16);
    @include global.lh(1.5);
  }

  &__button {
    display: inline-block;
    position: relative;
    max-width: 295px;
    width: 100%;
    padding: 30px 12px;
    margin-top: 40px;
    border: 2px solid global.$color-accent-yellow;
    color: global.$color-accent-yellow;
    @include global.fz(16, 24);
    @include global.lh(1.2);
    font-family: global.$font-family-en;
    font-weight: 500;
    transition: color 0.3s ease-out;

    @include global.mq(md) {
      //min-width 768px〜
      padding: 34px 15px;
      border-width: 3px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background-color: global.$color-accent-yellow;
      transition: width 0.3s ease-out;
      z-index: -1;
    }
    &:hover {
      color: global.$color-text-black;
      #{$this}__svg {
        transform: translateY(-50%) translateX(5px);
      }
      &:after {
        width: 100%;
      }
    }
  }
  &__svg {
    position: absolute;
    top: 50%;
    right: 19px;
    transform: translateY(-50%);
    transition: transform 0.3s ease-out;
    @include global.mq(md) {
      //min-width 768px〜
      right: 31px;
    }
  }
}
