@use "foundation/global";
//グローバルナビゲーション
.c-global-nav {
  $this: &;
  display: flex;
  align-items: center;
  height: 100%;
  //mq〜797px
  @include global.mq(xl, max) {
    position: fixed;
    top: 60px;
    visibility: hidden;
    overflow: auto;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 0;
    background-color: global.$color-main;
    transition: height 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }
  &__list {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
    white-space: nowrap;
    //mq 798px〜
    @include global.mq(xl) {
      margin-top: 0;
      flex-direction: row;
    }
  }
  &__item {
    position: relative;
    @include global.fz(16, 14);
    @include global.lh(1.5);
    color: global.$color-text-white;
    //mq 798〜
    @include global.mq(xl) {
      width: 100%;
      color: global.$color-text-black;
    }
    &:nth-last-child(n + 4) {//最後から4番目以降
      margin: 0 0 40px 0;
      //mq 798〜
      @include global.mq(xl) {
        padding-right: 30px;
        margin: 0 16px 0 0;
        &::after {
          content: "／";
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
        }
      }
    }
    &:nth-last-child(-n + 2) {//最後から2番目まで
      #{$this}__link {
        display: block;
        max-width: 100%;
        width: 295px;
        height: 68px;
        padding: 22px 15px;
        margin: 40px auto 0;
        color: global.$color-text-white;
        border: 1px solid global.$color-text-white;
        white-space: nowrap;
        @include global.fz(16, 14);
        @include global.lh(1.5);
        text-align: center;
        transition: background-color 0.3s, color 0.3s ease-out;
        @include global.mq(xl) {
          color: global.$color-main;
          border: 1px solid global.$color-main;
          width: 176px;
          margin: 0 0 0 32px;
          &:hover {
            color: global.$color-text-white;
            background-color: global.$color-main;
          }
        }
      }
    }
    &:last-child {//最後
      #{$this}__link {
        margin: 40px auto 0;
        background-color: global.$color-text-white;
        color: global.$color-main;
        @include global.mq(xl) {
          margin: 0 0 0 10px;
          background-color: global.$color-main;
          color: global.$color-text-white;
          border: 1px solid global.$color-main;
          &:hover {
            background-color: global.$color-main-dark;
          }
        }
      }
    }
  }
  &__link {
    display: block;
  }
}

//ドロワーアクティブ時
.c-global-nav {
  &.is-active {
    visibility: visible;
    height: calc(100vh - global.$header-height-sp);
  }
}
