@use "foundation/global";

// Component サイドバー
//--------------------------------------------------------------------------

//サイドバータイトル
.c-sidebar-title {
  color: global.$color-text-black;
  @include global.fz(20);
  @include global.lh(2);
  font-weight: 700;
}

//サイドバー記事一覧
.c-sidebar-new {
  $this: &;
  padding-top: 100px;
  @include global.mq(lg) {
    //min-width 992px〜
    padding-top: 0;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    @include global.mq(md) {
      //min-width 768px〜
      margin-top: 16px;
    }
    &:hover {
      #{$this}__item-img {
        transform: scale(1.1,1.1);
      }
      #{$this}__item-title {
        opacity: 0.7;
      }
    }
  }

  &__item-thumbnail {
    overflow: hidden;
    width: calc(37.61% - 12px / 2);
    @include global.mq(lg) {
      //min-width 992px〜
      width: calc(35% - 10px / 2);
    }
  }

  &__item-img {
    height: 24vw;
    object-fit: cover;
    transition: transform 0.3s ease-out;
    @include global.mq(lg) {
      //min-width 992px〜
      height: 7.8125vw;
      max-height: 100px;
    }
  }

  &__item-body {
    width: calc(62.39% - 12px / 2);
    @include global.mq(lg) {
      //min-width 992px〜
      width: calc(65% - 10px / 2);
    }
  }

  &__item-meta {
    display: flex;
    justify-content: space-between;
  }

  &__item-cats {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-top: -5px;
    color: global.$color-accent-red;
    @include global.mq(md) {
      //min-width 768px〜
      margin-left: -10px;
      margin-top: -10px;
    }
    @include global.mq(lg) {
      //min-width 992px〜
      margin-left: -5px;
      margin-top: -5px;
    }
  }

  &__item-cat {
    border: 1px solid global.$color-accent-red;
    padding: 3px 11px;
    @include global.fz(12, 14);
    @include global.lh(1.66, 1.71);
    margin-left: 5px;
    margin-top: 5px;
    @include global.mq(md) {
      //min-width 768px〜
      margin-left: 10px;
      margin-top: 10px;
      padding: 6px 24px;
    }
    @include global.mq(lg) {
      //min-width 992px〜
      padding: 3px 11px;
      margin-left: 5px;
      margin-top: 5px;
    }
  }

  &__item-time {
    color: global.$color-text-gray;
    @include global.fz(14);
    @include global.lh(1.7);
    white-space: nowrap;
  }

  &__item-title {
    display: -webkit-box;
    overflow: hidden;
    margin-top: 6px;
    color: global.$color-text-black;
    font-size: 14px;
    line-height: 1.42;
    font-weight: 700;
    transition: opacity 0.3s ease-out;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    @include global.mq(md) {
      //min-width 768px〜
      margin-top: 12px;
      font-size: 16px;
      line-height: 1.75;
      -webkit-line-clamp: 2;
    }
    @include global.mq(lg) {
      //min-width 992px
      margin-top: 6px;
      font-size: 14px;
      line-height: 1.42;
    }
  }
}

//サイドバーカテゴリーリスト
.c-sidebar-cats {
  $this: &;
  padding-top: 60px;
  @include global.mq(md) {
    //min-width 768px〜
    padding-top: 80px;
  }

  &__list {
    margin-top: 16px;
  }

  &__item {
    border-top: 1px solid global.$color-border;
    &:last-of-type {
      border-bottom: 1px solid global.$color-border;
    }
  }

  &__link {
    display: block;
    position: relative;
    padding: 16px 40px;
    color: global.$color-text-black;
    @include global.fz(16);
    font-weight: 700;
    transition: color 0.3s ease-out;
    &:hover {
      color: global.$color-main;
      #{$this}__svg {
        transform: translate(2px, -50%);
      }
    }
  }

  &__svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    color: global.$color-main;
    width: 10px;
    height: 16px;
    transition: transform 0.3s ease-out;
  }
}