@use "foundation/global";

// Component タイトル
//--------------------------------------------------------------------------

//セクションのタイトル
.c-section-title {
  color: global.$color-main;
  &__head {
    font-size: 52px;
    @include global.lh(1.2);
    font-family: global.$font-family-en;
    font-weight: 500;
    @include global.mq(md) {
      font-size: 7.815vw;
    }
    @include global.mq(lg) {
      font-size: 100px;
    }
  }
  &__foot {
    @include global.fz(16, 24);
    @include global.lh(1.5);
    font-weight: 700;
  }
}