@use "foundation/global";

// Utility フォント
//--------------------------------------------------------------------------

.u-font-italic {
  font-style: italic;
}

.u-color-white {
  color: global.$color-text-white;
}

.u-color-black {
  color: global.$color-text-black;
}