@use "foundation/global";

.l-footer {
  width: 100%;
  padding: 65px 0 13px;
  background-color: global.$color-text-black;
  color: global.$color-text-white;
  @include global.mq(md) {
    padding: 120px 0 20px;
  }
  &__inner {
    padding-right: 20px;
    padding-left: 20px;
  }
  &__info {
    text-align: center;
  }
  &__text {
    display: inline-block;
    margin-top: 32px;
    @include global.fz(14);
    @include global.lh(1.7);
    font-weight: 500;
    text-align-last: left;
  }
  &__copyright {
    margin-top: 34px;
    text-align: center;
    @include global.fz(12,14);
    @include global.lh(2, 1.7);
    @include global.mq(md) {
      margin-top: 74px;
    }
  }
}
.l-footer-logo {
  display: block;
  margin: 0 auto;
  text-align: center;
  &__link {
    display: inline-block;
  }
  &__svg {
    max-width: 282px;
    height: 53px;
    width: 100%;
    color: global.$color-text-white;
    @include global.mq(md) {
      max-width: 368px;
      height: 68px;
    }
  }
}
