@use "foundation/global";

/* layout インナー
  -------------------------------------------------------------- */
  
.l-inner {
  max-width: 1180px;
  width: 100%;
  height: inherit;
  margin: 0 auto;
  padding: 0 20px;
  @include global.mq(md) {
    padding: 0 40px;
  }

  //狭い
  &--narrow {
    @extend .l-inner;
    max-width: 848px;
  }
}
