@use "foundation/global";

// Layout セクション
//--------------------------------------------------------------------------

.l-section {
  width: 100%;
  padding: 60px 0;
  @include global.mq(md) {
    padding: 120px 0;
  }
}

.l-section__head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
