@use "foundation/global";

//インナー
.l-inner {
  max-width: 1180px;
  width: 100%;
  height: inherit;
  margin: 0 auto;
  padding: 0 20px;

  &--wide {
    @include global.mq(md) {
      padding: 0 40px;
    }
  }
}

//セクション
.l-section {
  width: 100%;
  padding: 60px 0;
  @include global.mq(md) {
    padding: 120px 0;
  }
}

//レアウトのみ斜め（小要素は全て水平に戻す）
.l-skew {
  transform: skewY(10deg);
  & > * {
    transform: skewY(-10deg);
  }
}

//セクションヘディング
.l-section-heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
