@use "foundation/global";

//インナー
.l-inner {
  max-width: 1180px;
  width: 100%;
  height: inherit;
  margin: 0 auto;
  padding: 0 20px;
  @include global.mq(md) {
    padding: 0 40px;
  }

  //狭い
  &--narrow {
    @extend .l-inner;
    max-width: 848px;
  }
}

//セクション
.l-section {
  width: 100%;
  padding: 60px 0;
  @include global.mq(md) {
    padding: 120px 0;
  }
}

//レアウトのみ斜め（小要素は全て水平に戻す）
.l-skew {
  transform: skewY(10deg);
  & > * {
    transform: skewY(-10deg);
  }
}

//セクションヘディング
.l-section-heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

//アーカイブページ
.l-archive {
  width: 100%;
  padding: 60px 0 100px;
  @include global.mq(md) {
    padding: 80px 0 160px;
  }
  &__inner {
    @include global.mq(md) {
      display: flex;
      justify-content: space-between;
    }
  }
  //メインエリア
  &__main {
    width: 100%;
    @include global.mq(md) {
      width: calc(67.91% - 25px / 2);
    }
    @include global.mq(lg) {
      width: calc(70.91% - 40px / 2);
    }
  }
  //サイドバー
  &__sidebar {
    width: 100%;
    @include global.mq(md) {
      width: calc(32.09% - 25px / 2);
    }
    @include global.mq(lg) {
      width: calc(29.09% - 40px / 2);
    }
  }
}
