@use "foundation/global";

// Project お問い合わせてページ (prefix: p-contact)
//--------------------------------------------------------------------------

.p-contact {
  padding: 60px 0 100px;
  @include global.mq(md) {
    //min-width 768px〜
    padding: 80px 0 160px;
  }

  &__inner {
    max-width: 688px;
    width: 100%;
    margin: 0 auto;
  }

  &__intro {
    @include global.fz(14);
    @include global.lh(1.7);
  }

  &__intro-link {
    color: global.$color-main;
    text-decoration: underline global.$color-main;
  }

  &__submit {
    @include global.mq(md) {
      //min-width 768px〜
      max-width: 204px;
    }
  } 
}

//コンタクトフォーム
.p-contact-form {
  margin-top: 60px;
  @include global.mq(md) {
    //min-width 768px〜
    margin-top: 80px;
  }

  &__title {
    @include global.fz(24);
    @include global.lh(1.45);
    font-weight: 700;
    text-align: center;
  }

  &__items {
    margin-top: 41px;
    @include global.mq(md) {
      //min-width 768px〜
      margin-top: 61px;
    }
  }
}