@use "foundation/global";

.p-download {
  padding: 60px 0 100px;
  @include global.mq(md) {
    padding: 80px 0 160px;
  }
  &__inner {
    @include global.mq(md) {
      display: flex;
      justify-content: space-between;
    }
  }
}

.p-download-document {
  width: 100%;
  @include global.mq(md) {
    width: calc(50% - 40px);
  }
  &__title {
    @include global.fz(20,28);
    @include global.lh(1.4);
    font-weight: 700;
  }
  &__feature {
    box-shadow: 0 3px 12px rgb(global.$color-text-black , 16%);
    margin: 40px 30px 0;

    @include global.mq(sm) {
      margin-left: auto;
      margin-right: auto;
      max-width: 275px;
    }
  }
  &__text {
    margin-top: 40px;
    @include global.fz(14);
    @include global.lh(1.7);
  }
}

.p-download-form {
  margin-top: 60px;
  padding: 40px 20px;
  border-radius: 12px;
  background-color: global.$color-main-thin;
  @include global.mq(md) {
    width: 50%;
    margin-top: 0;
    padding: 40px;
  }
  &__title {
    @include global.fz(24,32);
    @include global.lh(1.5);
  }
  &__items {
    margin-top: 40px;
  }
  &__text {
    margin-top: 40px;
    @include global.lh(1.7);
  }
  &__text-link {
    text-decoration: underline global.$color-main;
    color: global.$color-main;
  }
}