@use "foundation/global";

// Project トップページ (prefix: p-home)
//--------------------------------------------------------------------------

// メインビジュアル
//--------------------------------------------------------------------------
.p-home-mv {
  position: relative;
  overflow: hidden;
  margin-top: global.$header-height-sp;
  margin-left: 20px;

  @include global.mq(md) {
    //min-width 768px〜
    margin-left: 45px;
  }
  @include global.mq(xl) {
    //min-width 1280px〜
    max-height: calc(105vh - global.$header-height-pc);
    margin-top: global.$header-height-pc;
  }

  &__inner {
    width: 100%;
  }

  &__main {
    position: absolute;
    bottom: 20px;
    left: 0;
    @include global.mq(md) {
      //min-width 768px〜
      bottom: 7vh;
    }
  }

  &__title-wrapper {
    width: 74.66667vw;
    @include global.mq(md) {
      //min-width 768px〜
      width: 46.875vw;
    }
  }

  &__title {
    display: inline-block;
    background-color: transparent;
    color: transparent;
    font-size: 10.66667vw;
    @include global.lh(1.2);
    font-family: global.$font-family-en;

    @include global.mq(md) {
      //min-width 768px〜
      font-size: 4.6875vw;
    }
    &:not(:first-child) {
      margin-top: 8px;
    }
    &:nth-of-type(2) {
      @include global.mq(md) {
        //min-width 768px〜
        margin-top: 0;
        padding-left: 10px;
      }
    }
  }

  &__lead {
    display: inline-block;
    margin-top: 16px;
    background-color: transparent;
    color: transparent;
    font-size: 4.26667vw;
    @include global.lh(1.5);
    font-weight: 700;

    @include global.mq(md) {
      //min-width 768px〜
      font-size: 1.5625vw;
    }
  }
}

//スライダー(CSSonly)
.p-home-mv-slider {
  overflow: hidden;
  height: 174.6667vw;
  @include global.mq(md) {
    height: 59vw;
  }
  &__items {
    margin-left: 20px;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    @include global.mq(md) {
      //min-width 768px〜
      margin-left: 45px;
    }
  }
  &__item {
    display: block;
    float: left;
    width: 100%;
    transform: translateX(100%);
    position: absolute;
    will-change: transform;

    &:nth-of-type(1) {
      transform: translateX(0);
      animation: slide 30s 0s cubic-bezier(0.8, 0, 0.17, 1) infinite;
    }
    &:nth-of-type(2) {
      animation: slide 30s 6s cubic-bezier(0.8, 0, 0.17, 1) infinite;
    }
    &:nth-of-type(3) {
      animation: slide 30s 12s cubic-bezier(0.8, 0, 0.17, 1) infinite;
    }
    &:nth-of-type(4) {
      animation: slide 30s 18s cubic-bezier(0.8, 0, 0.17, 1) infinite;
    }
    &:nth-of-type(5) {
      animation: slide 30s 24s cubic-bezier(0.8, 0, 0.17, 1) infinite;
    }
  }
  @keyframes slide {
    0% {
      transform: translateX(100%);
      opacity: 1;
    }
    3% {
      transform: translateX(0%);
      opacity: 1;
    }
    20% {
      transform: translateX(0%);
      opacity: 1;
    }
    23% {
      transform: translateX(-100%);
    }
    99.999% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
      opacity: 1;
    }
  }
  &__img {
    width: 100%;
    object-fit: cover;
  }
}

// 当社について
//--------------------------------------------------------------------------
.p-home-about {
  background: linear-gradient(transparent 19%, global.$color-main-thin 19%);
  @include global.mq(md) {
    //min-width 768px〜
    margin-top: 30px;
    margin-bottom: 125px;
    background: linear-gradient(transparent 40.5%, global.$color-main-thin 40.5%);
  }

  &__contents {
    @include global.mq(md) {
      //min-width 768px〜
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-top: 20px;
    }
  }

  &__text {
    margin-top: 56px;
    color: global.$color-text-black;
    @include global.fz(14);
    @include global.lh(1.7);
    font-weight: 500;
    @include global.mq(md) {
      //min-width 768px〜
      width: calc(36.27% - 40px / 2);
      margin: 0;
    }
  }

  &__img-wrapper {
    position: relative;
    margin-top: 30px;
    padding: 10.66667vw 0 32vw;
    @include global.mq(md) {
      //min-width 768px〜
      width: calc(63.73% - 40px / 2);
      margin: 0;
      padding: 0;
    }
  }

  &__link-wrapper {
    text-align: right;
    margin-top: 30px;
  }

  &__bg-wrapper {
    @include global.mq(md) {
      //min-width 768px〜
      position: relative;
      padding-top: 85px;
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 96.53333vw;
    right: -20px;
    width: 78.66667vw;
    z-index: -2;
    background: url(../img/webp/bg-company.webp) no-repeat center center / cover;

    @include global.browser("ie") {
      //IE11の場合
      background: url(../img/common/bg-company.jpeg) no-repeat center center / cover;
    }

    @include global.browser("safari") {
      //safariの場合
      background: url(../img/common/bg-company.jpeg) no-repeat center center / cover;
    }

    @include global.mq(md) {
      //min-width 768px〜
      display: block;
      height: 70.3125vw;
      max-height: 800px;
      right: 0;
      width: 44%;
    }
    @include global.mq(lg) {
      //min-width 922px〜
      width: 40%;
    }
  }
}

// サービス
//--------------------------------------------------------------------------
.p-home-service {
  margin-bottom: 60px;
  background: linear-gradient(transparent 50%, global.$color-main-thin 50%);

  &__contents {
    width: 100%;
    padding-top: 55px;
    margin-top: 10px;
    @include global.mq(md) {
      //min-width 768px〜
      margin-top: 30px;
    }
  }

  &__cards {
    @include global.mq(md) {
      //min-width 768px〜
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    //内容が増えたときにレイアウトが崩れないように空の要素を追加
    @include global.mq(md) {
      //min-width 768px〜
      &::after {
        content: "";
        width: calc(33.333% - 12.72% / 3);
      }
    }
  }

  &__link-wrapper {
    margin-top: 32px;
    text-align: right;
  }
}

//サービスカード
.p-home-service-card {
  width: 100%;
  padding-left: 15px;
  @include global.mq(md, max) {
    //max-width 768px〜
    &:not(:first-child) {
      margin-top: 74px;
    }
  }
  @include global.mq(md) {
    //min-width 768px〜
    width: calc(33.333% - 12.72% / 3);
    &:nth-child(3n + 2) {
      margin-top: 60px;
    }
    &:nth-child(3n) {
      margin-top: 120px;
    }
  }

  &__head {
    position: relative;
    width: 100%;
  }

  &__number {
    position: absolute;
    top: -60px;
    right: 0;
  }

  &__title {
    position: absolute;
    bottom: 34px;
    left: -15px;
    color: global.$color-main;
    font-weight: 700;
    @include global.fz(28);
    @include global.lh(1.4);

    @include global.mq(md) {
      //min-width 768px〜
      left: -30px;
      font-size: 2.82258vw;
      white-space: nowrap;
    }
    @include global.mq(lg) {
      //min-width 992px〜
      font-size: 28px;
    }
  }

  &__title-inside {
    background-color: global.$color-text-white;
    display: inline-block;
    &:not(:first-child) {
      margin-top: 8px;
    }
  }

  &__text {
    margin-top: 12px;
    @include global.fz(14);
    @include global.lh(1.7);
  }
}

// 導入事例
//--------------------------------------------------------------------------
.p-home-case {
  position: relative;
  z-index: 1;
  width: 100%;
  background: url(../img/webp/bg-case.webp) no-repeat center center / cover;
  @include global.browser("ie") {
    //IE11の場合
    background: url(../img/common/bg-case.jpeg) no-repeat center center / cover;
  }
  @include global.browser("safari") {
    //safariの場合
    background: url(../img/common/bg-case.jpeg) no-repeat center center / cover;
  }

  &__cards {
    width: 100%;
    position: relative;
    margin-top: 40px;
    @include global.mq(md) {
      //min-width 768px〜
      margin-top: 11px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    @include global.mq(lg) {
      //min-width 992px〜
      &::after {
        content: "";
        width: calc(33.333% - 12.73% / 3);
      }
    }
  }

  &__link-wrapper {
    margin-top: 58px;
    text-align: right;
  }
}

//導入事例カード
.p-home-case-card {
  $this: &;
  display: inline-block;
  width: 100%;
  color: global.$color-text-white;
  margin-top: 52px;
  @include global.mq(md) {
    //min-width 768px〜
    margin-top: 70px;
    width: calc(50% - 7.4% / 2);
  }
  @include global.mq(lg) {
    //min-width 992px〜
    width: calc(33.333% - 12.73% / 3);
  }

  &:hover {
    #{$this}__arrow {
      color: global.$color-accent-yellow;
      transform: translateX(5px);
    }
    @include global.mq(md) {
      //min-width 768px〜
      #{$this}__arrow {
        transform: translateX(5px);
      }
    }
  }

  &__img-wrapper {
    position: relative;
    width: 100%;
    padding-top: 251 / 335 * 100%;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    margin-top: 10px;
    @include global.fz(16);
    @include global.lh(1.5);
    font-weight: 700;
  }

  &__links {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  &__category {
    padding: 6px 16px;
    border: 1px solid global.$color-text-white;
    @include global.lh(1.4);
  }

  &__arrow {
    color: global.$color-text-white;
    transition: color 0.3s, transform 0.3s ease-out;
  }
}

// 新着情報
//--------------------------------------------------------------------------
.p-home-news {
  width: 100%;
  margin-bottom: 100px;
  background: linear-gradient(transparent 25%, global.$color-main-thin 25%);
  @include global.mq(md) {
    //min-width 768px〜
    margin-top: 60px;
    margin-bottom: 40px;
    background: linear-gradient(transparent 57%, global.$color-main-thin 57%);
  }

  &__items {
    max-width: 768px;
    width: 100%;
    padding: 40px 20px;
    margin: 60px auto 0;
    background-color: global.$color-text-white;
    box-shadow: 0 3px 6px rgba(global.$color-text-black, 0.16);
    @include global.mq(md) {
      //min-width 768px〜
      padding: 60px 40px 40px 40px;
      margin-top: 81px;
    }
  }

  &__item {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid global.$color-border;
    padding-bottom: 33px;
    margin-bottom: 16px;
    transition: border-color 0.3s ease-out;
    &:hover {
      border-color: global.$color-text-black;
    }
    @include global.mq(md) {
      //min-width 768px〜
      margin-bottom: 20px;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__info-category {
    border: 1px solid global.$color-accent-red;
    padding: 3px 20px;
    color: global.$color-accent-red;
    @include global.fz(12, 14);
    @include global.lh(2, 1.4);
    @include global.mq(md) {
      //min-width 768px〜
      padding: 6px 24px;
    }
  }

  &__info-time {
    color: global.$color-text-gray;
    @include global.lh(1.4);
  }

  &__title {
    margin-top: 12px;
    color: global.$color-text-black;
    @include global.fz(14, 16);
    @include global.lh(1.4, 1.75);
    font-weight: 700;
  }

  &__link-wrapper {
    margin-top: 32px;
    text-align: right;
  }
}
