@use "foundation/global";

// ニュースページ prefix => .p-news
//------------------------------

.p-news-main {
  &__cat-name {
    color: global.$color-text-black;
    @include global.fz(20);
    @include global.lh(2);
    font-weight: 700;
  }
  &__item {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  &__item-thumbnail {
    width: calc(37.61% - 12px / 2);
  }
  &__item-img {
    height: 24vw;
    object-fit: cover;
  }
  &__item-body {
    width: calc(62.39% - 12px / 2);
  }
  &__item-meta {
    display: flex;
    justify-content: space-between;
  }
  &__item-cats {
    display: flex;
    align-items: center;
    color: global.$color-accent-red;
  }
  &__item-cat {
    @include global.fz(12);
    @include global.lh(1.66);
    padding: 3px 11px;
    border: 1px solid global.$color-accent-red;
  }
  &__item-new {
    margin-left: 8px;
    @include global.fz(14);
    @include global.lh(1.7);
  }
  &__item-time {
    color: global.$color-text-gray;
    @include global.fz(14);
    @include global.lh(1.7);
  }
  &__item-title {
    margin-top: 6px;
    color: global.$color-text-black;
    @include global.fz(14);
    @include global.lh(1.42);
    font-weight: 700;
  }
  &__pagination {
    margin-top: 40px;
  }
}

