@use "foundation/global";

// Project お知らせページ (prefix: p-news)
//--------------------------------------------------------------------------

//メインエリア
.p-news-main {
  &__title {
    color: global.$color-text-black;
    @include global.fz(20, 32);
    @include global.lh(2, 1.25);
    font-weight: 700;
  }

  &__pagination {
    margin-top: 40px;
    @include global.mq(md) {
      //min-width 768px〜
      margin-top: 60px;
    }
  }
}

.p-news-main-item {
  $this: &;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  @include global.mq(md) {
    //min-width 768px〜
    margin-top: 40px;
  }
  &:hover {
    #{$this}__img {
      transform: scale(1.1,1.1);
    }

    #{$this}__title {
      opacity: 0.7;
    }
  }

  &__thumbnail {
    overflow: hidden;
    width: calc(37.61% - 12px / 2);
    @include global.mq(lg) {
      //min-width 992px〜
      width: calc(34.21% - 20px / 2);
    }
  }

  &__img {
    height: 24vw;
    object-fit: cover;
    transition: transform 0.3s ease-out;
    @include global.mq(lg) {
      //min-width 992px〜
      height: 12.1875vw;
      max-height: 156px;
    }
  }

  &__body {
    width: calc(62.39% - 12px / 2);
    @include global.mq(lg) {
      //min-width 992px〜
      width: calc(65.79% - 20px / 2);
      margin-top: 12px;
    }
  }

  &__meta {
    display: flex;
    justify-content: space-between;
  }

  &__cats {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-top: -5px;
    color: global.$color-accent-red;
    @include global.mq(md) {
      //min-width 768px〜
      margin-left: -10px;
      margin-top: -10px;
    }
  }

  &__cat {
    border: 1px solid global.$color-accent-red;
    padding: 3px 11px;
    @include global.fz(12, 14);
    @include global.lh(1.66, 1.71);
    margin-left: 5px;
    margin-top: 5px;
    @include global.mq(md) {
      //min-width 768px〜
      margin-left: 10px;
      margin-top: 10px;
      padding: 6px 24px;
    }
  }


  &__time {
    color: global.$color-text-gray;
    @include global.fz(14);
    @include global.lh(1.7);
    white-space: nowrap;
  }

  &__title {
    display: -webkit-box;
    overflow: hidden;
    margin-top: 6px;
    color: global.$color-text-black;
    @include global.fz(14, 16);
    @include global.lh(1.42, 1.75);
    font-weight: 700;
    transition: opacity 0.3s ease-out;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    @include global.mq(md) {
      //min-width 768px〜
      -webkit-line-clamp: 2;
      margin-top: 12px;
    }
  }
}
