@use "foundation/global";

// Project お知らせページ (prefix: p-news)
//--------------------------------------------------------------------------

//メインエリア
.p-news-main {
  &__title {
    color: global.$color-text-black;
    @include global.fz(20, 32);
    @include global.lh(2, 1.25);
    font-weight: 700;
  }

  &__pagination {
    margin-top: 40px;
    @include global.mq(md) {
      //min-width 768px〜
      margin-top: 60px;
    }
  }
}

.p-news-main-item {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  @include global.mq(md) {
    //min-width 768px〜
    margin-top: 40px;
  }

  &__thumbnail {
    width: calc(37.61% - 12px / 2);
    @include global.mq(md) {
      //min-width 768px〜
      width: calc(34.21% - 20px / 2);
    }
  }

  &__img {
    height: 24vw;
    object-fit: cover;
    @include global.mq(md) {
      //min-width 768px〜
      height: 12.1875vw;
      max-height: 156px;
    }
  }

  &__body {
    width: calc(62.39% - 12px / 2);
    @include global.mq(md) {
      //min-width 768px〜
      width: calc(65.79% - 20px / 2);
      margin-top: 12px;
    }
  }

  &__meta {
    display: flex;
    justify-content: space-between;
  }

  &__cats {
    display: flex;
    align-items: center;
    color: global.$color-accent-red;
  }

  &__cat {
    border: 1px solid global.$color-accent-red;
    padding: 3px 11px;
    @include global.fz(12, 14);
    @include global.lh(1.66, 1.71);
    @include global.mq(md) {
      //min-width 768px〜
      padding: 6px 24px;
    }
  }

  &__new {
    margin-left: 8px;
    @include global.fz(14, 16);
    @include global.lh(1.7, 1.5);
  }

  &__time {
    color: global.$color-text-gray;
    @include global.fz(14);
    @include global.lh(1.7);
  }

  &__title {
    margin-top: 6px;
    color: global.$color-text-black;
    @include global.fz(14, 16);
    @include global.lh(1.42, 1.75);
    font-weight: 700;
    @include global.mq(md) {
      //min-width 768px〜
      margin-top: 12px;
    }
  }
}
