@use "foundation/global";

// Project 当社について 役員紹介
//--------------------------------------------------------------------------

.p-about-officer {
  margin-bottom: 100px;
  background: linear-gradient(transparent 46.5%, global.$color-main-thin 46.5%);
  color: global.$color-text-black;

  @include global.mq(md) {
    //min-width 768px〜
    background: linear-gradient(transparent 62%, global.$color-main-thin 62%);
  }
}

.p-about-officer__title {
  @include global.fz(24);
  @include global.lh(1.45);
  font-weight: 700;
  text-align: center;
}

.p-about-officer__list {
  width: 100%;
  margin-top: 41px;
  @include global.mq(md) {
    max-width: 688px;
    margin: 60px auto 0;
  }
}

.p-about-officer__item {
  &:not(:first-child) {
    margin-top: 60px;
  }
}
