@use "foundation/global";

// Project 導入事例
//--------------------------------------------------------------------------

.p-case {
  width: 100%;
  padding: 60px 0 100px;
  @include global.mq(md) {
    //min-width 768px〜
    padding: 80px 0 160px;
  }
}

.p-case__link-wrapper {
  margin-top: 41px;
  text-align: center;
  @include global.mq(md) {
    //min-width 768px〜
    margin-top: 60px;
  }
}
