@use "foundation/global";

// Project フッターリンク
// 資料ダウンロード お問い合わせ
//--------------------------------------------------------------------------
.p-footer-links {
  width: 100%;
  @include global.mq(md) {
    //min-width 768px〜
    display: flex;
  }
}

.p-footer-links__item {
  position: relative;
  width: 100%;
  padding: 45px 40px 26px;
  background: no-repeat center center / cover;
  @include global.mq(md) {
    //min-width 768px〜
    width: 50%;
    padding: 56px 40px 50px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: global.$color-main;
    opacity: 0.8;
  }

  &:nth-of-type(1) {
    background-image: url(../img/webp/img-download.webp);
    @include global.browser("safari") {
      //safariの場合
      background-image: url(../img/common/img-download.jpeg);
    }
    &:before {
      background-color: global.$color-main-bright;
    }
  }

  &:nth-of-type(2) {
    background-image: url(../img/webp/img-contact.webp);
    @include global.browser("safari") {
      //safariの場合
      background-image: url(../img/common/img-contact.jpeg);
    }
    &:before {
      background-color: global.$color-main;
    }
  }
}

.p-footer-links__item-inner {
  position: relative;
  width: 100%;
  z-index: 1;
  text-align: center;
}

.p-footer-links__title-head {
  color: global.$color-text-white;
  @include global.fz(40);
  @include global.lh(1.2);
  font-family: global.$font-family-en;
  font-weight: 500;
  @include global.mq(md) {
    //min-width 768px〜
    font-size: 4.6875vw;
  }
  @include global.mq(lg) {
    //min-width 992px〜
    font-size: 60px;
  }
}

.p-footer-links__title-foot {
  color: global.$color-text-white;
  @include global.fz(16);
  @include global.lh(1.5);
}

.p-footer-links__button {
  display: inline-block;
  position: relative;
  overflow: hidden;
  max-width: 295px;
  width: 100%;
  padding: 30px 12px;
  margin-top: 40px;
  border: 2px solid global.$color-accent-yellow;
  color: global.$color-accent-yellow;
  @include global.fz(16, 24);
  @include global.lh(1.2);
  font-family: global.$font-family-en;
  font-weight: 500;
  transition: color 0.6s global.ease(out-quint);

  @include global.mq(md) {
    //min-width 768px〜
    border-width: 3px;
    max-width: 313px;
    padding: 31px 15px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: global.$color-accent-yellow;
    transform: translateX(-100%);
    transition: transform 0.6s global.ease(out-quint);
  }
  &:hover,
  &:focus {
    color: global.$color-text-black;
    .p-footer-links__svg {
      transform: translateY(-50%) translateX(5px);
    }
    &:before {
      transform: translateX(0);
    }
  }
}

.p-footer-links__svg {
  position: absolute;
  top: 50%;
  right: 19px;
  transform: translateY(-50%);
  transition: transform 0.6s global.ease(out-quint);
  @include global.mq(md) {
    //min-width 768px〜
    right: 31px;
  }
}
