@use "foundation/global";

// Project フォーム
//--------------------------------------------------------------------------

.p-form__row {
  &:not(:first-child) {
    margin-top: 20px;
    @include global.mq(md) {
      //min-width 768px〜
      margin-top: 32px;
    }
  }
}

.p-form__dd {
  margin-top: 8px;
  @include global.mq(md) {
    //min-width 768px〜
    margin-top: 12px;
  }
}

.p-form__label {
  position: relative;
  color: global.$color-text-black;
  @include global.fz(14, 18);
  @include global.lh(1.2);
  font-weight: 700;

  //必須の場合
  &--required {
    &::after {
      content: "必須";
      position: absolute;
      top: 50%;
      transform: translateY(-45%);
      left: calc(100% + 8px);
      width: 36px;
      height: 17px;
      background-color: global.$color-accent-red;
      color: global.$color-text-white;
      @include global.fz(10);
      line-height: 17px;
      font-weight: 700;
      text-align: center;
    }
  }
}

.p-form__input {
  box-shadow: none;
  border: 1px solid global.$color-border;
  background-color: global.$color-text-white;
  padding: 10px 14px;
  appearance: none;
  border-radius: 5px;
  color: inherit;
  font-family: inherit;
  @include global.fz(14);
  @include global.lh(1.7);
  width: 100%;
  &::placeholder {
    @include global.fz(14);
    @include global.lh(1);
    color: global.$color-case-nav-dark;
  }
}

.p-form__select {
  position: relative;
  appearance: none;
  color: global.$color-text-black;
  &::after {
    content: "";
    width: 10px;
    height: 6px;
  }
}

.p-form__select:invalid {
  color: global.$color-case-nav-dark;
}

.p-form__textarea {
  min-height: 140px;
  @include global.mq(md) {
    //min-width 768px〜
    min-height: 240px;
  }
}

//プライバシーエリア
.p-form__privacy {
  margin-top: 40px;
  text-align: center;
}

//プライバシーラベル
.p-form__privacy-label {
  position: relative;
  @include global.fz(14, 16);
  @include global.lh(1.7);
  font-weight: 500;
  padding-left: 38px;
  @include global.mq(md) {
    //min-width 768px〜
    padding-left: 42px;
  }
}

//送信ボタンwrapper
.p-form__submit-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}


.wpcf7-list-item {
  margin-left: 0;
}
.wpcf7 form.sent .wpcf7-response-output {
  max-width: 400px;
  width: 100%;
  margin: auto;
  text-align: center;
}

//チェックボックス
input[type="checkbox"] {
  position: absolute;
  left: -100vw;
  opacity: 0;
}

.wpcf7-list-item-label {
  display: inline-block;
    position: relative;
  @include global.fz(14, 16);
  @include global.lh(1.7);
  font-weight: 500;
  padding-left: 38px;
  @include global.mq(md) {
    //min-width 768px〜
    padding-left: 42px;
  }

    &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 28px;  
    height: 28px; 
    border: 1px solid global.$color-text-black;
    border-radius: 2px;
    background-color: global.$color-text-white;

    @include global.mq(md) {
      width: 32px;
      height: 32px;
    } 
  }

  &::after {
    content: "";
    position: absolute;
    left: 3px;
    top: 50%;
    display: block;
    transform: translateY(-50%) rotate(-45deg);
    width: 22px;
    height: 14.8px;
    margin-top: -0.2em;
    opacity: 0;
    border-bottom: 4px solid global.$color-text-black;
    border-left: 4px solid global.$color-text-black;

    @include global.mq(md) {
      width: 24px;
    height: 16.8px;
    }
  }
}

input[type="checkbox"]:checked + .wpcf7-list-item-label {
  &::after {
    opacity: 1;
  }
}