@use "foundation/global";

// Project ヘッダー
//--------------------------------------------------------------------------

.p-header {
  height: global.$header-height-sp;
  background-color: global.$color-text-white;

  @include global.mq(xl) {//min-width 1280px〜
    height: global.$header-height-pc;
  }
}

.p-header__logo {
  padding-left: 20px;
  color: global.$color-main;
  @include global.fz(28, 40);
  @include global.lh(1);
  font-weight: 700;
  font-family: global.$font-family-logo;
  font-style: italic;
  
  @include global.mq(xl) {
    //min-width 1280px〜
    padding-left: 40px;
  }
}

.p-header__logo-link {
  display: block;
}
