@use "foundation/global";

// Project メインビジュアル
//--------------------------------------------------------------------------

//下層ページのメインビジュアル
.p-lower-mv {
  position: relative;
  width: 100%;
  height: 250px;
}
.p-lower-mv__svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  color: global.$color-main;
}

.p-lower-mv__picture {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.p-lower-mv__img {
  width: 100%;
  height: 100%;
  @include global.object-fit(cover, center);
}

.p-lower-mv__svg--sp {
  width: 165px;
}

.p-lower-mv__svg--pc {
  width: 365px;
}

.p-lower-mv__title {
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 21px;
  @include global.mq(md) {
    //min-width 768px〜
    left: 17%;
  }
}

.p-lower-mv__title-en {
  display: inline-block;
  color: global.$color-main;
  @include global.fz(32, 60);
  @include global.lh(1.2);
  font-weight: 500;
  background-color: global.$color-text-white;
  font-family: global.$font-family-en;
}

.p-lower-mv__title-ja {
  display: inline-block;
  margin-top: 8px;
  color: global.$color-main;
  @include global.fz(16, 20);
  @include global.lh(1.5, 1.45);
  font-weight: 700;
  background-color: global.$color-text-white;
}
