@use "foundation/global";

// Project メインビジュアル
//--------------------------------------------------------------------------
.p-mv__inner {
  position: relative;
  width: 100%;
}

.p-mv__content {
  position: absolute;
  bottom: 20px;
  left: 10px;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  @include global.mq(md) {
    //min-width 768px〜
    left: 45px;
    bottom: 2.5vw;
  }
}

.p-mv__content {
  &.is-active {
    opacity: 1;
    pointer-events: auto;
  }
}

.p-mv__heading {
  display: inline-block;
  padding-right: 0.15em;
  background-color: transparent;
  color: transparent;
  @include global.max-function("font-size", 40, 375);
  @include global.lh(1.2);
  font-style: italic;
  font-family: global.$font-family-en;

  @include global.mq(md) {
    //min-width 768px〜
    @include global.font-vw(90, 1920); 
  }
  &:not(:first-child) {
    margin-top: 8px;
  }
}

.p-mv__lead {
  display: inline-block;
  margin-top: 16px;
  background-color: transparent;
  color: transparent;
  @include global.max-function("font-size", 16, 375);
  @include global.lh(1.5);
  font-weight: 700;
  letter-spacing: 0.01em;

  @include global.mq(md) {
    //min-width 768px〜
    @include global.font-vw(30, 1920); 
  }
}
