@use "foundation/global";

// Project メインビジュアルスライダー
//--------------------------------------------------------------------------

.p-mv-slider {
  position: relative;
  opacity: 0;
  margin-left: 40px;
  transform: scale(1.5, 1.5);
  transition: opacity 1.3s, transform 1.5s global.ease(out-quint);
  transition-delay: -0.1s;

  @include global.mq(md) {
    //min-width 768px〜
    margin-left: 80px;
  }

  @include global.mq(xl) {
    //min-width 1280px〜
    max-height: calc(100vh - global.$header-height-pc);
    min-height: 650px;
  }
}

.p-mv-slider {
  &.is-active {
    transform: scale(1, 1);
    opacity: 1;
  }
}

.p-mv-slider__picture {
  overflow: hidden;
}

.p-mv-slider__img {
  width: 100%;
  @include global.object-fit(cover, center);
}
