@use "foundation/global";

// Project サービス 導入の流れ
//--------------------------------------------------------------------------
.p-service-flow {
  $this: &;
  background: no-repeat center center / cover;
  background-image: url(../img/webp/bg-case.webp);
  @include global.browser("safari") {
    //safariの場合
    background-image: url(../img/common/bg-case.jpeg);
  }
}

.p-service-flow__title {
  color: global.$color-text-white;
  @include global.fz(24);
  @include global.lh(1.45);
  font-weight: 700;
  text-align: center;
}

.p-service-flow__contents {
  width: 100%;
  margin-top: 40px;
}

.p-service-flow__list {
  @include global.mq(md) {
    //min-width 768px〜
    margin-top: 104px;
    display: flex;
    flex-wrap: wrap;
  }
}

.p-service-flow__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  counter-increment: number;
  @include global.mq(md) {
    //min-width 768px〜
    width: 25%;
    height: auto;
  }
  @include global.mq(lg) {
    //min-width 992px〜
    height: 210px;
  }

  &:nth-of-type(1n) {
    z-index: 4;
    .p-service-flow__item-textarea {
      background-color: global.$color-main-thin;
      &:after {
        content: "";
        background: linear-gradient(to top right, transparent 50%, global.$color-main-thin 50%) no-repeat top left / 50%
            100%,
          linear-gradient(to top left, transparent 50%, global.$color-main-thin 50%) no-repeat bottom right/ 50% 100%;
        @include global.mq(md) {
          //min-width 768px〜
          background: linear-gradient(to bottom left, transparent 50%, global.$color-main-thin 50%) no-repeat top left /
              100% 50%,
            linear-gradient(to top left, transparent 50%, global.$color-main-thin 50%) no-repeat bottom left/ 100% 50%;
        }
      }
    }
  }

  &:nth-of-type(2n) {
    z-index: 3;
    .p-service-flow__item-textarea {
      background-color: global.$color-main-thin02;
      &:after {
        content: "";
        background: linear-gradient(to top right, transparent 50%, global.$color-main-thin02 50%) no-repeat top left /
            50% 100%,
          linear-gradient(to top left, transparent 50%, global.$color-main-thin02 50%) no-repeat bottom right/50% 100%;
        @include global.mq(md) {
          //min-width 768px〜
          background: linear-gradient(to bottom left, transparent 50%, global.$color-main-thin02 50%) no-repeat top left /
              100% 50%,
            linear-gradient(to top left, transparent 50%, global.$color-main-thin02 50%) no-repeat bottom left/ 100% 50%;
        }
      }
    }
  }

  &:nth-of-type(3n) {
    z-index: 2;
    .p-service-flow__item-textarea {
      background-color: global.$color-main-thin03;
      &:after {
        content: "";
        background: linear-gradient(to top right, transparent 50%, global.$color-main-thin03 50%) no-repeat top left /
            50% 100%,
          linear-gradient(to top left, transparent 50%, global.$color-main-thin03 50%) no-repeat bottom right/50% 100%;
        @include global.mq(md) {
          //min-width 768px〜
          background: linear-gradient(to bottom left, transparent 50%, global.$color-main-thin03 50%) no-repeat top left /
              100% 50%,
            linear-gradient(to top left, transparent 50%, global.$color-main-thin03 50%) no-repeat bottom left/ 100% 50%;
        }
      }
    }
  }

  &:nth-of-type(4n) {
    z-index: 1;
    .p-service-flow__item-textarea {
      background-color: global.$color-main-thin04;
      &:after {
        content: "";
        display: none;
      }
    }
  }

  &:nth-child(n + 5) {
    @include global.mq(md) {
      //min-width 768px〜
      margin-top: 56px;
    }
  }
}

.p-service-flow__step {
  white-space: nowrap;
  width: 43px;

  @include global.mq(md) {
    position: absolute;
    left: 0;
    top: -25px;
    transform: translateY(-50%);
    display: flex;
    width: 100%;
  }
}

.p-service-flow__step-text {
  color: global.$color-accent-yellow;
  @include global.fz(20);
  @include global.lh(1);
  font-family: global.$font-family-en;
  padding-top: 16px;
  padding-right: 8px;
}

.p-service-flow__step-number {
  &::after {
    content: counter(number, decimal-leading-zero);
    color: global.$color-accent-yellow;
    @include global.fz(40);
    @include global.lh(1);
    font-family: global.$font-family-en;
  }
}

.p-service-flow__item-textarea {
  position: relative;
  max-width: 480px;
  width: 73.3333vw;
  margin-left: 18px;
  padding: 20px 20px;
  @include global.mq(md) {
    width: 100%;
    height: 100%;
    margin-left: auto;
    padding: 44px 25px 21px 43px;
  }
  &:not(:first-child) {
    padding-top: 40px;
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -26px;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 26px;
    background: linear-gradient(to top right, transparent 50%, global.$color-main-thin 50%) no-repeat top left / 50%
        100%,
      linear-gradient(to top left, transparent 50%, global.$color-main-thin 50%) no-repeat bottom right/50% 100%;
    @include global.mq(md) {
      //min-width 768px〜
      top: 50%;
      transform: translateY(-50%);
      left: auto;
      right: -20px;
      width: 20px;
      height: 100%;
      background: linear-gradient(to bottom left, transparent 50%, global.$color-main-thin 50%) no-repeat top left /
          100% 50%,
        linear-gradient(to top left, transparent 50%, global.$color-main-thin 50%) no-repeat bottom left/100% 50%;
    }
  }
}

.p-service-flow__item-title {
  color: global.$color-main;
  @include global.fz(18);
  @include global.lh(1.44);
  font-weight: 700;
  text-align: center;
}

.p-service-flow__item-text {
  margin-top: 4px;
  color: global.$color-text-black;
  @include global.fz(14);
  @include global.lh(1.71);
}

.p-service-flow__item-caution {
  color: global.$color-accent-red;
  @include global.fz(14);
  @include global.lh(1.71);
}
