@use "foundation/global";

// サービス 良くある質問
//--------------------------------------------------------------------------

.p-service-faq {
  width: 100%;
  padding: 60px 0 100px;
  @include global.mq(md) {
    //min-width 768px〜
    padding: 160px 0;
  }
}

.p-service-faq__title {
  @include global.fz(24);
  @include global.lh(1.45);
  font-weight: 700;
  text-align: center;
}

.p-service-faq__accordion {
  margin: 41px auto 0;
  @include global.mq(md) {
    //min-width 768px〜
    margin-top: 61px;
  }
}
