@use "foundation/global";

// Project サービスページ (prefix: p-service)
//--------------------------------------------------------------------------

// サービス詳細
//--------------------------------------------------------------------------
.p-service-details {
  &__intro {
    @include global.fz(20, 28);
    @include global.lh(1.4);
    font-weight: 700;
    text-align: center;
  }
}

.p-service-detail {
  $this: &;
  width: 100%;
  margin-top: 60px;
  @include global.mq(md) {
    //min-width 768px〜
    margin-top: 138px;
  }
  
  &:nth-of-type(odd) {
    #{$this}__item {
      @include global.mq(md) {
        //min-width 768px〜
        flex-direction: row-reverse;
      }
    }
  }

  &:nth-of-type(2n) {
    margin: 69px 0 80px;
    background: linear-gradient(transparent 0%, global.$color-main-thin 0%);
    @include global.mq(md) {
      //min-width 768px〜
      margin: 195px 0 181px;
      padding: 60px 0 80px;
    }

    #{$this}__figure {
      margin-left: 0;
      margin-right: auto;
      @include global.mq(md) {
        //min-width 768px〜
        margin-right: 0;
      }
    }

    #{$this}__number {
      right: 20px;
      @include global.mq(md) {
        //min-width 768px〜
        right: 30px;
      }
      @include global.mq(lg) {
        //min-width 992px〜
        right: 30px;
      }
    }

    #{$this}__item {
      padding-top: 20px;
    }

    #{$this}__contents {
      @include global.mq(md) {
        //min-width 768px〜
        transform: translateX(-60px);
      }
    }
  }

  &__inner {
    width: 100%;
    margin: 0 auto;
    @include global.mq(md) {
      //min-width 768px〜
      max-width: calc(1180px + 80px);
      padding: 0 40px;
    }
  }

  &__item {
    width: 100%;
    @include global.mq(md) {
      //min-width 768px〜
      display: flex;
      align-items: flex-start;
    }
  }

  &__figure {
    width: 50.13333vw;
    margin-left: auto;
    @include global.mq(md) {
      //min-width 768px〜
      max-width: 560px;
      width: 47.46%;
      margin-top: 60px;
      margin-left: 0;
    }
  }

  &__contents {
    position: relative;
    z-index: 1;
    box-shadow: 0 3px 12px rgba(global.$color-text-black, 0.16);
    margin-top: -40vw;
    margin-left: 20px;
    margin-right: 20px;
    padding: 42px 20px;
    background-color: rgba(global.$color-text-white, 0.9);
    @include global.mq(md) {
      //min-width 768px〜
      max-width: 590px;
      width: 70%;
      margin: 0;
      padding: 80px 30px 60px;
      transform: translateX(30px);
    }
    @include global.mq(lg) {
      //min-width 992px〜
      padding: 80px 40px 60px;
      transform: translateX(60px);
    }
  }

  &__number {
    position: absolute;
    top: -42px;
    color: global.$color-main;
    @include global.fz(68, 100);
    @include global.lh(1.2);
    font-family: global.$font-family-en;
    @include global.mq(md) {
      //min-width 768px〜
      top: -61px;
    }
  }

  &__title-head {
    @include global.fz(28, 40);
    @include global.lh(1.28, 1.5);
    font-weight: 700;
  }

  &__title-foot {
    margin-top: 3px;
    color: global.$color-main;
    @include global.fz(14, 16);
    @include global.lh(1.2);
    font-weight: 500;
    font-family: global.$font-family-en;
  }

  &__text {
    margin-top: 28px;
    @include global.fz(14);
    @include global.lh(1.71);
    @include global.mq(md) {
      //min-width 768px〜
      margin-top: 58px;
    }
  }

  &__dl {
    margin-top: 28px;
    @include global.mq(md) {
      //min-width 768px〜
      margin-top: 58px;
    }
  }

  &__dl-row {
    display: flex;
    align-items: center;
    padding: 18px 0;
    border-top: 1px solid global.$color-border-thin;
    @include global.mq(md) {
      //min-width 768px〜
      padding: 31px 0;
    }
    &:last-of-type {
      border-bottom: 1px solid global.$color-border-thin;
    }
  }

  &__dt {
    width: 75px;
    @include global.fz(14, 16);
    @include global.lh(1.2);
    font-weight: 700;
  }

  &__dd {
    width: calc(100% - 75px);
    padding-left: 5px;
    @include global.fz(14);
    @include global.lh(2);
  }
  
  &__link-wrapper {
    margin-top: 32px;
    text-align: center;
    @include global.mq(md) {
      //min-width 768px〜
      margin-top: 58px;
    }
  }
}

// サービス導入の流れ
//--------------------------------------------------------------------------
.p-service-flow {
  $this: &;
  background: no-repeat center center / cover;
  background-image: url(../img/webp/bg-case.webp);
  @include global.browser('ie11') {
    //IE11の場合
    background-image: url(../img/common/bg-case.jpeg);
  }
  @include global.browser('safari') {
    //safariの場合
    background-image: url(../img/common/bg-case.jpeg);
  }

  &__title {
    color: global.$color-text-white;
    @include global.fz(24);
    @include global.lh(1.45);
    font-weight: 700;
    text-align: center;
  }

  &__contents {
    width: 100%;
    margin-top: 40px;
  }

  &__list {
    @include global.mq(md) {
      //min-width 768px〜
      margin-top: 104px;
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    counter-increment: number;
    @include global.mq(md) {
      //min-width 768px〜
      width: 25%;
      height: auto;
    }
    @include global.mq(lg) {
      //min-width 992px〜
      height: 210px;
    }

    &:nth-of-type(1n) {
      #{$this}__item-textarea {
        background-color: global.$color-main-thin;
        &:after {
          background: 
            linear-gradient(to top right, transparent 50%, global.$color-main-thin 50%) no-repeat top left / 50% 100%,
            linear-gradient(to top left, transparent 50%, global.$color-main-thin 50%) no-repeat bottom right/ 50% 100%;
          @include global.mq(md) {
            //min-width 768px〜
            background:
              linear-gradient(to bottom left, transparent 50%, global.$color-main-thin 50%) no-repeat top left / 100% 50%,
              linear-gradient(to top left, transparent 50%, global.$color-main-thin 50%) no-repeat bottom left/ 100% 50%;
          }
        }
      }
    }

    &:nth-of-type(2n) {
      #{$this}__item-textarea {
        background-color: global.$color-main-thin02;
        &:after {
          background:
            linear-gradient(to top right, transparent 50%, global.$color-main-thin02 50%) no-repeat top left / 50% 100%,
            linear-gradient(to top left, transparent 50%, global.$color-main-thin02 50%) no-repeat bottom right/50% 100%;
          @include global.mq(md) {
            //min-width 768px〜
            background:
              linear-gradient(to bottom left, transparent 50%, global.$color-main-thin02 50%) no-repeat top left / 100% 50%,
              linear-gradient(to top left, transparent 50%, global.$color-main-thin02 50%) no-repeat bottom left/ 100% 50%;
          }
        }
      }
    }

    &:nth-of-type(3n) {
      #{$this}__item-textarea {
        background-color: global.$color-main-thin03;
        &:after {
          background:
            linear-gradient(to top right, transparent 50%, global.$color-main-thin03 50%) no-repeat top left / 50% 100%,
            linear-gradient(to top left, transparent 50%, global.$color-main-thin03 50%) no-repeat bottom right/50% 100%;
          @include global.mq(md) {
            //min-width 768px〜
            background:
              linear-gradient(to bottom left, transparent 50%, global.$color-main-thin03 50%) no-repeat top left / 100% 50%,
              linear-gradient(to top left, transparent 50%, global.$color-main-thin03 50%) no-repeat bottom left/ 100% 50%;
          }
        }
      }
    }

    &:nth-of-type(4n) {
      #{$this}__item-textarea {
        background-color: global.$color-main-thin04;
        &:after {
          display: none;
        }
      }
    } 

    &:nth-child(n + 5) {
      @include global.mq(md) {
        //min-width 768px〜
        margin-top: 56px;
      }
    }
  }

  &__step {
    white-space: nowrap;
    width: 43px;
    
    @include global.mq(md) {
      position: absolute;
      left: 0;
      top: -25px;
      transform: translateY(-50%);
      display: flex;
      width: 100%;
    }
  }

  &__step-text {
    color: global.$color-accent-yellow;
    @include global.fz(20);
    @include global.lh(1);
    font-family: global.$font-family-en;
    padding-top: 16px;
    padding-right: 8px;
  }

  &__step-number {
    &::after {
      content: counter(number, decimal-leading-zero);
      color: global.$color-accent-yellow;
      @include global.fz(40);
      @include global.lh(1);
      font-family: global.$font-family-en;
    }
  }

  &__item-textarea {
    position: relative;
    max-width: 480px;
    width: 73.3333vw;
    margin-left: 18px;
    padding: 20px 20px;
    @include global.mq(md) {
      width: 100%;
      height: 100%;
      margin-left: auto;
      padding: 44px 25px 21px 43px;
    }
    &:not(:first-child) {
      padding-top: 40px;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -26px;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 26px;
      background:
        linear-gradient(to top right, transparent 50%, global.$color-main-thin 50%) no-repeat top left / 50% 100%,
        linear-gradient(to top left, transparent 50%, global.$color-main-thin 50%) no-repeat bottom right/50% 100%;
      @include global.mq(md) {
        //min-width 768px〜
        top: 50%;
        transform: translateY(-50%);
        left: auto;
        right: -20px;
        width: 20px;
        height: 100%;
        background:
          linear-gradient(to bottom left, transparent 50%, global.$color-main-thin 50%) no-repeat top left / 100% 50%,
          linear-gradient(to top left, transparent 50%, global.$color-main-thin 50%) no-repeat bottom left/100% 50%;
      }
    }
  }

  &__item-title {
    color: global.$color-main;
    @include global.fz(18);
    @include global.lh(1.44);
    font-weight: 700;
    text-align: center;
  }

  &__item-text {
    margin-top: 4px;
    color: global.$color-text-black;
    @include global.fz(14);
    @include global.lh(1.71);
  }

  &__item-caution {
    color: global.$color-accent-red;
    @include global.fz(14);
    @include global.lh(1.71);
  }
}

// 良くある質問
//--------------------------------------------------------------------------
.p-service-faq {
  width: 100%;
  padding: 60px 0 100px;
  @include global.mq(md) {
    //min-width 768px〜
    padding: 160px 0;
  }

  &__title {
    @include global.fz(24);
    @include global.lh(1.45);
    font-weight: 700;
    text-align: center;
  }
  
  &__accordion {
    margin: 41px auto 0;
    @include global.mq(md) {
      //min-width 768px〜
      margin-top: 61px;
    }
  }
}
