@use "foundation/global";

.p-single {
  &__meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__cat {
    border: 1px solid global.$color-accent-red;
    padding: 6px 11px;
    white-space: nowrap;
    color: global.$color-accent-red;
    @include global.fz(14);
    @include global.lh(1.71);
    @include global.mq(md) {
      padding: 8px 24px;
    }
  }
  &__time {
    color: global.$color-text-gray;
    @include global.fz(14);
    @include global.lh(1.71);
    white-space: nowrap;
  }
  &__title {
    margin-top: 8px;
    @include global.fz(24);
    @include global.lh(1.33);
    font-weight: 700;
    @include global.mq(md) {
      margin-top: 20px;
    }
  }
  &__thumbnail {
    margin-top: 24px;
    @include global.mq(md) {
      margin-top: 41px;
    }
  }
  &__img {
    height: 55.73333vw;
    object-fit: cover;
    @include global.mq(md) {
      height: 37.10938vw;
      max-height: 475px;
    }
  }
  &__content {
    h2,
    h3,
    h4 {
      color: global.$color-main;
      font-weight: 700;
      margin-top: 40px;
    }
    h2 {
      background-color: global.$color-pagination-bg;
      border-left: 6px solid global.$color-main;
      padding: 6px 10px 6px 20px;
      @include global.fz(20);
      @include global.lh(1.6);
    }
    h3 {
      padding-bottom: 5px;
      border-bottom: 1px solid global.$color-main;
      @include global.fz(18);
      @include global.lh(1.77);
    }
    h4 {
      @include global.fz(16);
      @include global.lh(1.75);
    }
    p {
      margin-top: 20px;
      @include global.fz(14);
      @include global.lh(1.7);
    }
    ul {
      margin-top: 40px;
    }
    li {
      @include global.fz(14);
      @include global.lh(1.7);
      &:not(:first-child) {
        margin-top: 17px;
      }
    }
    .wp-block-quote {
      position: relative;
      margin-top: 40px;
      background-color: global.$color-pagination-bg;
      border-left: 4px solid global.$color-main;
      padding: 32px 28px;
      @include global.fz(14);
      @include global.lh(1.7);

      &__svg {
        position: absolute;
        top: 25px;
        left: 25px;
        width: 60px;
        height: 45px;
        color: global.$color-quote-svg;
      }
      p {
        position: relative;
        margin-top: 0;
        z-index: 1;
      }
    }
  }
  &__post-links {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
  }
  &__post-link {
    a {
      display: inline-block;
      border: 1px solid global.$color-main;
      border-radius: 4px;
      padding: 5px 15px;
      transition: background-color 0.3s color 0.3s ease-out;
      color: global.$color-main;
      @include global.fz(14);
      @include global.lh(1.7);

      &:hover {
        color: global.$color-text-white;
        background-color: global.$color-main;
      }
    }
  }
}
