<% let pageId='about' ; %>

  <%- include('../common/_header', {pageId:pageId }) %>

    <%# console.log(jsonData) %>
      <main class="p-about">
        <div class="c-mv-lower c-mv-lower--bg-about">
          <svg class="c-svg c-mv-lower__svg c-mv-lower__svg--sp u-hidden-md-up">
            <use xlink:href="/img/svg/sprite.min.svg#mv-lower-decoration_sp" />
          </svg>
          <svg class="c-svg c-mv-lower__svg c-mv-lower__svg--pc u-hidden-md-down">
            <use xlink:href="/img/svg/sprite.min.svg#mv-lower-decoration_pc" />
          </svg>
          <div class="c-mv-lower__heading">
            <h2 class="c-mv-lower__heading-head u-font-italic">
              ABOUT US
            </h2>
            <br>
            <p class="c-mv-lower__heading-foot">
              当社について
            </p>
          </div>
        </div>

        <!-----------
          Breadcrumb
        ------------->
        <div class="c-breadcrumb u-mt-12">
          <div class="l-inner">
            <ul class="c-breadcrumb__list" itemscope itemtype="https://schema.org/BreadcrumbList">
              <li class="c-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                <a class="c-breadcrumb__link" itemprop="item" href="/"><span itemprop="name">ホーム</span></a>
                <meta itemprop="position" content="1" />
              </li>
              <li class="c-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                <a class="c-breadcrumb__link" itemprop="item" href="/about/"><span itemprop="name">当社について</span></a>
                <meta itemprop="position" content="2" />
              </li>
            </ul>
          </div>
        </div>

        <!---------
          Message
        ----------->
        <section class="p-about-message l-section">
          <div class="l-inner l-inner-wide">
            <div class="p-about-message__item">
              <div class="p-about-message__title p-about-message__title--bg-01">
                <h2 class="p-about-message__title-head u-font-italic">MISSION</h2>
                <p class="p-about-message__title-foot">社会的使命</p>
              </div>
              <div class="p-about-message__text">
                <h3 class="p-about-message__text-head">
                  人財育成を通じて、<br>
                  豊かな世界を創造する
                </h3>
                <p class="p-about-message__text-foot">
                  急速に広がったグローバル社会に対応できる人材を育成することで、文化・言語の垣根を越えたコミュニケーションを活発にし、一人でも多くの人が豊かに暮らせる世界を実現することを使命とする。
                </p>
              </div>
            </div>
            <div class="p-about-message__item">
              <div class="p-about-message__title p-about-message__title--bg-02">
                <h2 class="p-about-message__title-head">VISION</h2>
                <p class="p-about-message__title-foot">企業理念</p>
              </div>
              <div class="p-about-message__text">
                <h3 class="p-about-message__text-head">
                  文化の垣根を越えた<br class="u-hidden-sm-down">
                  人と人とのつながりが新しい価値を生む
                </h3>
                <p class="p-about-message__text-foot">
                  コミュニケーションスキル習得をサポートすることで一人でも多くのビジネスパーソンの視野を広げ、世界を舞台に新しい相乗効果を生む未来を創造する。文化の垣根を越えた人と人とのつながりが新しい価値を生むことを信念とする。
                </p>
              </div>
            </div>
          </div>
        </section>
        
        <!---------
          Company
        ----------->
        <section class="p-about-company l-section">
          <div class="l-inner l-inner--narrow">
            <div class="p-about-company__contents">
              <h2 class="p-about-company__title">
                会社概要
              </h2>
              <dl class="p-about-company__dl">
                <dt class="p-about-company__dt">代表</dt>
                <dd class="p-about-company__dd">波瑠　慶太</dd>

                <dt class="p-about-company__dt">事業内容</dt>
                <dd class="p-about-company__dd">・ビジネス英会話教育事業 ・異文化交流サポート事業 ・ビジネス留学事業</dd>

                <dt class="p-about-company__dt">設立</dt>
                <dd class="p-about-company__dd">2012年10月03日</dd>

                <dt class="p-about-company__dt">所在地</dt>
                <dd class="p-about-company__dd">〒550-1000 大阪市西区土佐堀9-5-5</dd>

                <dt class="p-about-company__dt">TEL</dt>
                <dd class="p-about-company__dd">06-123-4567（代表）</dd>

                <dt class="p-about-company__dt">FAX</dt>
                <dd class="p-about-company__dd">06-123-4568（代表）</dd>

                <dt class="p-about-company__dt">E-mail</dt>
                <dd class="p-about-company__dd">globalstandard@example.com</dd>
              </dl>
            </div>
          </div>
        </section>


        <div class="l-section"></div>
      </main>


      <%- include('../common/_footer', {pageId:pageId }) %>