<% let pageId='contact' ; %>

  <%- include('../common/_header', {pageId:pageId }) %>

    <%# console.log(jsonData) %>
      <div id="js-fv-trigger" class="p-lower-mv">
        <svg class="c-svg p-lower-mv__svg p-lower-mv__svg--sp u-hidden-md-up">
          <use xlink:href="/img/svg/sprite.min.svg#mv-lower-decoration_sp" />
        </svg>
        <svg class="c-svg p-lower-mv__svg p-lower-mv__svg--pc u-hidden-md-down">
          <use xlink:href="/img/svg/sprite.min.svg#mv-lower-decoration_pc" />
        </svg>
        <picture class="p-lower-mv__picture">
          <source class="p-lower-mv__img" srcset="/img/webp/mv-contact_sp.webp" media="(max-width: 767px)" type="image/webp" />
          <source class="p-lower-mv__img" srcset="/img/webp/mv-contact_pc.webp" media="(min-width: 768px)" type="image/webp" />
          <source class="p-lower-mv__img" srcset="/img/common/mv-contact_sp.jpeg" media="(max-width: 767px)" />
          <img src="/img/common/mv-contact_pc.jpeg" class="p-lower-mv__img" decoding="async" alt="お問い合わせメインビジュアル">
        </picture>
        <div class="p-lower-mv__title">
          <h2 class="p-lower-mv__title-en u-font-italic is-mask-right">
            CONTACT
          </h2>
          <br>
          <p class="p-lower-mv__title-ja is-mask-right">
            お問い合わせ
          </p>
        </div>
      </div>

      <!--パンくずリスト-->
      <div class="c-breadcrumb u-mt-12">
        <div class="l-inner">
          <ul class="c-breadcrumb__list" itemscope itemtype="https://schema.org/BreadcrumbList">
            <li class="c-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
              <a class="c-breadcrumb__link" itemprop="item" href="/"><span itemprop="name">ホーム</span></a>
              <meta itemprop="position" content="1" />
            </li>
            <li class="c-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
              <a class="c-breadcrumb__link" itemprop="item" href="/contact/"><span itemprop="name">お問い合わせ</span></a>
              <meta itemprop="position" content="2" />
            </li>
          </ul>
        </div>
      </div>
      <!--/パンくずリスト-->

      <section class="p-contact">
        <div class="l-inner">
          <div class="p-contact__inner">
            <p class="p-contact__intro">
              研修のお申し込み、その他お問い合わせは、下記のフォームからお問い合わせ内容をご記入ください。 2日以内に担当者からメールにてご連絡いたします。
            </p>
            <div class="p-contact-form">
              <h2 class="p-contact-form__title">お問い合わせ</h2>
              <!--コンタクトフォーム-->
              <div class="p-contact-form__items p-form">
                <form action="">
                  <dl class="p-form__dl">
                    <div class="p-form__row">
                      <dt class="p-form__dt">
                        <label class="p-form__label" for="your-company">会社名</label>
                      </dt>
                      <dd class="p-form__dd">
                        <input class="p-form__input" id="your-company" type="text" placeholder="例）〇〇株式会社"
                          autocomplete="organization">
                      </dd>
                    </div>
            
                    <div class="p-form__row">
                      <dt class="p-form__dt">
                        <label class="p-form__label p-form__label--required" for="your-name">お名前</label>
                      </dt>
                      <dd class="p-form__dd">
                        <input class="p-form__input" id="your-name" type="text" placeholder="例）鈴木　一郎"
                          autocomplete="name" required>
                      </dd>
                    </div>
            
                    <div class="p-form__row">
                      <dt class="p-form__dt">
                        <label class="p-form__label p-form__label--required" for="your-ruby">お名前（フリガナ）</label>
                      </dt>
                      <dd class="p-form__dd">
                        <input class="p-form__input" id="your-ruby" type="text" placeholder="例）スズキ イチロウ" autocomplete="off" required>
                      </dd>
                    </div>

                    <div class="p-form__row">
                      <dt class="p-form__dt">
                        <label class="p-form__label p-form__label--required" for="your-tel">電話番号</label>
                      </dt>
                      <dd class="p-form__dd">
                        <input class="p-form__input" id="your-tel" type="text" placeholder="例）0312345678" autocomplete="tel" required>
                      </dd>
                    </div>
            
                    <div class="p-form__row">
                      <dt class="p-form__dt">
                        <label class="p-form__label p-form__label--required" for="your-email">メールアドレス</label>
                      </dt>
                      <dd class="p-form__dd">
                        <input class="p-form__input" id="your-email" type="email" placeholder="例）info@example.com"
                          autocomplete="email" required>
                      </dd>
                    </div>

                    <div class="p-form__row">
                      <dt class="p-form__dt">
                        <label class="p-form__label p-form__label--required" for="your-select">ご用件</label>
                      </dt>
                      <dd class="p-form__dd">
                        <select id="your-select" class="p-form__input p-form__select" required>
                          <option value="" selected>ご選択ください</option>
                          <option value="option1">option1</option>
                          <option value="option2">option2</option>
                          <option value="option3">option3</option>
                        </select>
                      </dd>
                    </div>

                    <div class="p-form__row">
                      <dt class="p-form__dt">
                        <label class="p-form__label p-form__label--required" for="your-textarea">ご用件の詳細</label>
                      </dt>
                      <dd class="p-form__dd">
                        <textarea class="p-form__input p-form__textarea" id="your-textarea" placeholder="ご自由にご記入ください。" required></textarea>
                      </dd>
                    </div>
                  </dl>
            
                  <div class="p-form__privacy">
                    <span class="checkbox-1">
                      <span>
                        <label>
                          <input type="checkbox" name="checkbox-1" value="個人情報保護方針に同意します。">
                          <span class="wpcf7-list-item-label">個人情報保護方針に同意します。</span>
                        </label>
                      </span>
                    </span>
                  </div>
            
                  <div class="p-form__submit-wrapper">
                    <input type="submit" class="c-button-square c-button-square--submit p-contact__submit" value="送信">
                  </div>
                </form>
              </div>
              <!--/コンタクトフォーム-->
            </div>
          </div>
        </div>
      </section>


      <%- include('../common/_footer', {pageId:pageId }) %>