<% let pageId='download' ; %>

  <%- include('../common/_header', {pageId:pageId }) %>

    <%# console.log(jsonData) %>
      <div class="c-mv-lower c-mv-lower--bg-about">
        <svg class="c-svg c-mv-lower__svg c-mv-lower__svg--sp u-hidden-md-up">
          <use xlink:href="/img/svg/sprite.min.svg#mv-lower-decoration_sp" />
        </svg>
        <svg class="c-svg c-mv-lower__svg c-mv-lower__svg--pc u-hidden-md-down">
          <use xlink:href="/img/svg/sprite.min.svg#mv-lower-decoration_pc" />
        </svg>
        <div class="c-mv-lower__heading">
          <h2 class="c-mv-lower__heading-head u-font-italic">
            DOWNLOAD
          </h2>
          <br>
          <p class="c-mv-lower__heading-foot">
            資料ダウンロード
          </p>
        </div>
      </div>

      <!-----------
              Breadcrumb
            ------------->
      <div class="c-breadcrumb u-mt-12">
        <div class="l-inner">
          <ul class="c-breadcrumb__list" itemscope itemtype="https://schema.org/BreadcrumbList">
            <li class="c-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
              <a class="c-breadcrumb__link" itemprop="item" href="/"><span itemprop="name">ホーム</span></a>
              <meta itemprop="position" content="1" />
            </li>
            <li class="c-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
              <a class="c-breadcrumb__link" itemprop="item" href="/download/"><span itemprop="name">資料ダウンロード</span></a>
              <meta itemprop="position" content="2" />
            </li>
          </ul>
        </div>
      </div>


      <%- include('../common/_footer', {pageId:pageId }) %>